<div class="register-container">

  <!-- Bouton retour -->
  <div class="back-button">
    <a (click)="navigateToHome()" class="back-link">
      <span class="back-icon">←</span> Retour à l'accueil
    </a>
  </div>

  <!-- ÉTAPE 2 : Affichage mot de passe & QRCode -->
  <div class="register-card" *ngIf="doubleAuth && !showTwoFaStep">
    <div class="card-header">
      <h2>Renouvellement de mot de passe 📌</h2>
      <p>Votre mot de passe a expiré. Voici votre <strong>nouveau mot de passe sécurisé</strong>. Copiez-le soigneusement, il ne sera plus affiché par la suite.</p>
    </div>

    <div *ngIf="password" class="password-display">
      <label>Nouveau mot de passe :</label>
      <div class="password-row">
        <input [type]="showPassword ? 'text' : 'password'" [value]="password" readonly />
        <button type="button" (click)="toggleShowPassword()">
          {{ showPassword ? 'Cacher' : 'Voir' }}
        </button>
        <button type="button" (click)="copyPassword()">Copier</button>
      </div>
    </div>

    <div class="qrstyle" *ngIf="linkQr">
      <h3>Vous pouvez également scanner ce QR Code pour récupérer le mot de passe :</h3>
      <img [src]="linkQr" alt="QR Code mot de passe" class="qr-img" />
    </div>

    <button type="button" class="qr-btn" (click)="activateTwoFA()">
      Renouveler la double authentification
    </button>
  </div>

  <!-- ÉTAPE 3 : QR Code 2FA Google Authenticator -->
  <div class="register-card" *ngIf="showTwoFaStep">
    <div class="card-header">
      <h2>Nouvelle authentification double facteur requise 🔒</h2>
        <p>Dans le cadre de la rotation de sécurité semestrielle, <br>
          veuillez scanner ce nouveau QR Code avec Google Authenticator pour continuer à sécuriser votre compte
        </p>
    </div>

    <div class="qrstyle">
      <img [src]="twoFaQrCode" alt="QR Code 2FA" class="qr-img" />
    </div>

    <button type="button" class="qr-btn" (click)="navigateToLogin()">
      Aller à la connexion
    </button>
  </div>
</div>
